<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Hello, World!</title>
</head>

<body>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Welcome!</h1>
                <p class="lead">
                    please sign in with twitter to begin
                </p>
                <p><a href="/auth/"><img
                            src="https://developer.twitter.com/content/dam/developer-twitter/images/sign-in-with-twitter-gray.png"
                            alt="sign in with twitter" /></a></p>
            </div>
        </div>
    </div>
    </div>

</body>

</title>